$cube-edge: 4em;

body {
  height: 100vh;
  perspective: 25em;
}

[class*="cube"] {
  position: absolute;
}

.cube {
  font-size: 8vmin;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  font: 8vmin / #{$cube-edge} cookie, cursive;
  text-align: center;

  &__face {
    margin: -0.5 * $cube-edge;
    width: $cube-edge;
    height: $cube-edge;
    box-shadow: 0 0 0 2px;
  }
}

// use rotate3d replace rotateXYZ
.cube__face {
  transform: rotate3d(var(--i), var(--j), 0, calc(var(--m) * 90deg))
    translateZ(0.5 * $cube-edge);

  &:nth-child(1) {
    --i: 0;
    --j: 1;
    --m: 0;
  }
  &:nth-child(2) {
    --i: 0;
    --j: 1;
    --m: 1;
  }
  &:nth-child(3) {
    --i: 0;
    --j: 1;
    --m: 2;
  }
  &:nth-child(4) {
    --i: 0;
    --j: 1;
    --m: 3;
  }
  &:nth-child(5) {
    --i: 1;
    --j: 0;
    --m: 1;
  }
  &:nth-child(6) {
    --i: 1;
    --j: 0;
    --m: -1;
  }
}

.cube {
  animation: ani 8s ease-in-out infinite;
}

@keyframes ani {
  to {
    transform: rotate3d(1, 1, 1, 1turn) rotate3d(1, -1, 1, 1turn);
  }
}
