$cube-edge: 4em;

body {
  height: 100vh;
  perspective: 25em;
}

[class*="cube"] {
  position: absolute;
}

.cube {
  font-size: 8vmin;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  font: 8vmin / #{$cube-edge} cookie, cursive;
  text-align: center;

  &__face {
    margin: -0.5 * $cube-edge;
    width: $cube-edge;
    height: $cube-edge;
    box-shadow: 0 0 0 2px;
    // backface-visibility: hidden;

    &:nth-child(n + 5) {
      --i: 1;
      --j: 0;
    }

    --i: 0;
    transform: rotate3d(
        var(--i),
        calc(1 - var(--i)),
        0,
        calc(var(--m, 0) * 90deg)
      )
      translateZ(0.5 * $cube-edge);
  }
}

.cube__face:nth-child(n + 5) {
  --i: 1;
}

.cube__face:nth-child(2) {
  --m: 1;
}
.cube__face:nth-child(3) {
  --m: 2;
}
.cube__face:nth-child(4) {
  --m: 3;
}
.cube__face:nth-child(5) {
  --m: 1;
}
.cube__face:nth-child(6) {
  --m: -1;
}
.cube {
  animation: ani 8s ease-in-out infinite;
}

@keyframes ani {
  to {
    transform: rotate3d(1, 1, 1, 1turn) rotate3d(1, -1, 1, 1turn);
  }
}
